Builds/MacOSX/TrayTest.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Builds/MacOSX/TrayTest.xcodeproj/project.xcworkspace/xcuserdata/
Builds/MacOSX/TrayTest.xcodeproj/xcuserdata/
Builds/MacOSX/build/
